<!DOCTYPE html>
<html>
<head>
	<title>WSP Component2: Amaren Read</title>
	<!-- <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

<div>
	<article>
		<strong><p>Switch</p>
		<p>to digital</strong></p>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet.</p>
		<p><a href="">Read More</a></p>
	</article>

	<article>
		<strong><p>For your</p>
		<p>digital vision</strong></p>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet.</p>
		<p><a href="">Read More</a></p>
	</article>
</div>

</body>
</html>