<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<div class="compos">
			<h2>CTA</h2><a href="http://www.templatemonster.com/demo/54627.html" target="_blank">
			<img src="../../images/compImage2.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>The target audience for this composition would be anybody between the ages of 18 and up. I say 18 and up because most installation companies
					   tend to make contracts for people to sign at the age of 18 or older. Gender could be both female or male. Location could be a residence or in
					   a work place.  </p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>For this CTA, the digital installation company has set up awareness of what exactly they do and how users can get more information by switching to digital
					    or raise awareness by letting their users have additional information. The CTA looks professional and the client can use brand recognition from the image
						used in the CTA, letting their users find out what their product and services are by having a professional looking CTA. The users of digital installation
						want to have the best services for their viewing experience and this can be done by looking at the layout of the CTA. Users tend to trust a site that looks
					    professional than sites that are dull or that lack specific information or no additional information.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>The use of the red buttons draws attention to people who view this website to attain more information about what this company does or what the benefits of digital
					    viewing compared to different methods of viewing. The buttons used are sized proportionately for easy recognition and the red brings out what the company loves to
						do or provide for their users. The columns are laid out in a way for easy reading and the text pops out to the viewers due to the font size and font family usage.
						I like how they used the "W" is "Switch" to indicate two V's, with the first V switching over to the next V which helps the flow of eye movement over the text.
					    The image used sends a clear message that the company is about digital viewing and the use of black and blue blends in together letting the viewers know that they
						are a formal and trustworthy company. Everything is aligned correctly and the use of the elements in the CTA are attention grabbing to those who view this CTA.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54627.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>