<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<div class="compos">
			<h2>Gallery</h2>
			<a href="http://www.templatemonster.com/demo/54543.html" target="_blank">
			<img src="../../images/compImage9.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This is a gallery for a fueling station that uses alternative fuels for "Go Green" type of vehicles. The target audience would be the genders of both male and female with and age range of 40-70 and who have some knowledge of alternative fuels and have the money
						to buy such a vehicle and/or alternative fuels. The location could be anywhere but mostly where alternative fuels are most resourceful. </p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The client goals here are to provide the users with a alternate source of fuel for the specific type of advanced vehicle the users are using. The client goals are to generate revenue and to give a high rated type of customer service to their users. The user needs
						are to have a alternative source of fuel, seek resourceful information and to see what options they have when using such alternative fuel sources.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>The heading at the top of the gallery section has a font family that symbolizes a bold way of using alternative fuels and it is easy to read due to the letter spacing and the font weight of the typography. In the first image, when the viewer hover over the images,
						the "read more" text turns yellow which gives the viewer a sense of joy, happiness and intellect. Even though the words blend into the corn image, it is nice and very professional looking because of the message it sends out due to the yellow color. The text headings
						within the images symbolize goodness, cleanliness and safety.The icons used under the "read more" link are centered in place. The grid system used is properly aligned with the cross spacing between the images. This is a very perfect gallery section that looks very
						professional and the use of green in all the images represent nature, fertility, and harmony.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54543.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>