<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<div class="compos">
			<h2>About</h2>
			<a href="http://www.templatemonster.com/demo/54709.html" target="_blank">
			<img src="../../images/compImage4.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This composition is about a business/company who provide doors and windows to people who need a home, office, company, or business make over for their windows and doors. The target audience for this composition
						would be for any home, office, building, companies, or businesses. Gender could be both male or female who have the extra cash to spend on redecorating their windows or doors. Location could be in a place of business
						or residency. </p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The client goals are to promote their services and products by letting users know what they are about. In being successful, the client would get users to identify that they are there to provide door and window products
					    or services. The client will help create a positive image for themselves within their community or abroad to other communities. The user viewing the material and/or services will most likely help spread the word by telling
						their friends or family, and then they will tell others as well due to the information they have gathered from this companies about section.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>I could not wait to get to this part for this composition because of the colors being used. I love how they used the Earth toned brown to help create a sense of energy and smoothness of the about section.
					    not only did they use the brown on the circle tabs but they also put it into the main heading title which helps create a flow throughout the page. I do as well like how they used the rule of thirds in the
						placement of their columns. The text is very easy to read against the purity of the white background and it fits perfectly for this about section. The footer and heading horizontal rules match perfectly with
						the layout of this about section because of the flower type shape in the middle of the horizontal rule which makes it feel more down to Earth and peaceful.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54709.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>