<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<div class="compos">
			<h2>Contact</h2>
			<a href="http://www.templatemonster.com/demo/54575.html" target="_blank">
			<img src="../../images/compImage6.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This composition is for a consulting agency for businesses. The target audience would be for both female or male and the age range would be mainly 18 years of age or older. The age group would mostly be people who have a
						high understanding of business skills but need help with the consulting process. Location could vary from large, to small cities, or even country areas.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The client goals for this composition is to help users contact them if they need any consulting done for their business or businesses. If the client is interested in what the user has sent, which most likely they will be in
						order to generate capitol, they would contact the user via the information the user has provided. The user needs are to know how accredited this consulting agency is and where they are located as well. The user would need
						to know the location in order to have a face-to-face interview or to ask additional questions about their needs or about the agency itself.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>When I first looked at this contact form my eyes went straight to the "Clear" and "Send" buttons which have a red-ish orange color to them which symbolizes strength, power, determination with happiness and sunshine. This is a
					    pretty simple form layout but has a lot of meaning behind it. IT is not confusing for the viewers to input their name, E-mail, phone number and message that needs to be sent but it also has a place on the left hand side that
						has additional information for the viewers. This information could consist of who would be getting the messages and viewer information or when the person getting said information would be getting back to them, or office hours etc.
					    I do like how they have at the lower left hand corner a place for the company name and additional information about where the company is located and how to contact them in a different way. The grid structure is well aligned and
						the text is easy to read. The use of color with the white background signifies cleanliness, goodness and safety. All around this is a very professional looking contact form.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54575.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>