<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<div class="compos">
			<h2>Features</h2>
			<a href="http://www.templatemonster.com/demo/54817.html" target="_blank">
			<img src="../../images/compImage3.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>The target audience for this composition would be people looking for roofing repairs on their homes or in the housing industry. Homeowners mainly range from 40 and up. Gender could
						be both male and female that own their own home or people in the housing industry. Location could be anywhere but mostly in high populated areas.  </p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The client goals here would be somebody providing roofing materials and/or labor work and to provide services or roofing products to people who have a home, business, or housing complex.
						The user would be businesses, a home, or housing owners and the user needs would be people looking for products or repairing services to help them attract more people into buying a home,
						renting a place to stay, or renting a building for a business. The user would look at this website and see how professional it looks and be interested in hiring this company to repair their
						roof due to the look and feel of the site. Users could then let others know about this site in order to generate more people into looking at the site, and the more people who look at the site, would mean more people might be interested into purchasing
						the products or services the client has to offer. </p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>The design of this composition is well laid out in terms of icon placement, column width and height. The icons symbolize settings, a chat feature, and a social networking icon or meet the team icon
						and they also have read more links to let the viewer know they can get more information about each individual feature. The yellow gives a sense of happiness, joy, and positivity this company has but
						it is also kind of bright and harsh on the eyes, maybe they could tone it down a little bit. The text is easy to read, it isn't to big or to small and the letter spacing is probably aligned with each
						of its titles and subtitles. The image indicates a soft red-ish brown, letting viewers know this company is about passion, happiness, and the company can be trusted. The blue of the image ties everything
						together by providing a feel of calmness and relaxation.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54817.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>