<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<div class="compos">
			<h2>Testimonials</h2>
			<a href="http://www.templatemonster.com/demo/54618.html" target="_blank">
			<img src="../../images/compImage5.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This composition is from a company that appraises homes. The target market would be home owners at a age range of 50-70. The gender could be both female or male and to those who own their own home. The location would
					    be mainly in high populate cities or some in rural areas.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The clients' goal of using this testimonial section would be to give their users or interested users, a base of establishment from other users who have contacted them for their services before. The user needs are to find
						out if this company would be the best choice to appraise the users home(s). The client goals are also to increase capitol and generate a user friendly atmosphere within their community or other communities as well. The
						client tends to reach out and spread the word using the testimonial section as a way of communicating positive feed back to increase the awareness of what their company does and provide potential users to contact them
						for their appraisal needs.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>For this testimonial section it is pretty bland and basic due to a couple of things. First when viewing this section I spotted the image right away and it seems like to me the guy in the picture seems dissatisfied and
						has a "I guess" type of look on his face. Second, there is really no color except the dot tab at the bottom symbolizing that the viewer is on the first testimonial and sure the green tab is very useful but that is really
						the only color that pops out. The over all text is fine and aligned correctly and can be read with a flow and the white background does represent purity but the design is poor. If I were to make this design I would add a
						different picture, put it on the right hand side with a drop shadow of a orange tint or yellow tint to give it some character, and have the testimonial paragraph on the left hand side. By the way it it is now the picture
						discourages me to read the paragraph all together. I would also change the green dot tab to a semi dark blue color to help it blend in with the grey dot tab circle.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54618.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>