<!DOCTYPE html>
<html>
<head>
	<title>WSP Component10: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

	<footer>
		<img src="../../images/map.png" alt="Google map of company location: Glasgow, Glasgow City, UK" />

		<nav>
			<h3>ABOUT US</h3>
			<ul>
				<li>Lacinia est</li>
				<li>Proin dictum</li>
				<li>Elementum velit</li>
				<li>Consequat ante</li>
				<li>Lorem ipsum dolor</li>
				<li>Sit amet</li>
				<li>Consectetuer</li>
			</ul>
		</nav>

		<nav>
			<h3>SERVICES</h3>
			<ul>
				<li>Lorem ipsum dolor sit</li>
				<li>Conse ctetur adipisicing</li>
				<li>Elit sed do eiusmod</li>
				<li>Incididunt ut labore</li>
				<li>Et dolore magna aliqua</li>
				<li>Ut enim ad minim</li>
				<li>Quis nostrud</li>
			</ul>
		</nav>

		<nav>
			<h3>EVENTS</h3>
			<ul>
				<li>Conse ctetur</li>
				<li>Elit sed do eiusmod</li>
				<li>Incididunt ut labore</li>
				<li>Et dolore magna aliqua</li>
				<li>Ut enim ad minim</li>
				<li>Quis nostrud</li>
			</ul>
		</nav>

		<nav>
			<h3>Links</h3>
			<ul>
				<li>Vestibulum iaculis</li>
				<li>Lacinia est</li>
				<li>Proin dictum</li>
				<li>Elementum velit</li>
				<li>Consequat ante</li>
				<li>Lorem ipsum dolor</li>
				<li>Sit amet</li>
				<li>Consectetuer</li>
			</ul>
		</nav>

	</footer>

	<footer>
		<p>Globy &copy; 2015 | <a href="">Privacy Policy</a></p>
	</footer>
	
</body>
</html>