<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<div class="compos">
			<h2>Footer</h2>
			<a href="http://www.templatemonster.com/demo/53732.html" target="_blank">
			<img src="../../images/compImage10.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This composition is for a company called "Globy" who provide technology solutions for businesses and organizations. Target audience would be both male and female in the age range of 18-30 because of copyright a legality issues when working with another company for technological
						reasons. The target audience are also the individuals who have knowledge in the business and organizational fields. Location would most likely be in middle to large cities due to the more populated areas mean more people looking to start their own businesses or organizations.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The user needs here are people interested in making technological advancements in their businesses or organizations who seek out the help of "Globy" for solutions. The user needs are to know in great detail of how the other company works and what they are about. The client
						goals are to provide to the user needs of taking action on said solutions. The client could help generate revenue from other businesses by having positive feedback from the businesses or organizations.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>The background has a strong symbolization of formality, elegance, and power that blends in with the purity of white on the text headers. The boldness of the headings is easy to read and the sub text has the blue tint which symbolizes stability, trust, and confidence. The "Globy"
						copyright and "Privacy Policy" at the bottom left is unique because on most sites, that element is usually centered, but in this case it is unique with character. </p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/53732.html" target="_blank">View Composition</a></button>
		</div>
	
</body>
</html>