<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<div class="compos">
		<h2>Header</h2>
			<a href="http://www.templatemonster.com/demo/54847.html" target="_blank">
			<img src="../../images/compImage1.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>For this composition the target audience of this site would be people in the industrial field. The location of such industries are located in high populated
						areas or near mining sites, or where resources are more plentiful and mainly companies or people that work with equipment used in the industrial field. The field can consist
						of people(mainly men), between the ages of 20-50. While the age span is pretty broad, the 20 year olds are mostly the crew while the 50 year olds are mostly the
						owners or higher ups in the company.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The client goals for this site are people with a financial stability, have enough money to purchase such industrial equipment, or know how to operate
					    industrial equipment and to give positive feedback to this company. People in the industrial field are either building or produce something for themselves
					    using this companies products or services, or another company has hired them to build or produce something for them. The people who use the products or services
						of this company want information about the company to get a better understanding of the products and services they provide. The client would be somebody or
						a different company wanting something from this company that could provide such equipment for them.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>For this companies header, I notice that the "phone" and "location" text and icons could be a different color due to it is kind of hard to see with the grey
					   background color. The logo text could be in a different font family for those who do not know how to read cursive. The light blue in the text signifies stability,
				   	   trust, wisdom, loyalty, faith, truth, intelligence, and confidence to the users. The use of the orange in the navigational tags and the search icon helps symbolize
					   a sense of strength, happiness, joy, and determination to the users. The black background with the white navigational text sends the message of power with a touch of purity.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54847.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>