<!DOCTYPE html>
<html>
<head>
	<title>WSP Component1: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" /> -->
</head>
<body>

<header>
	<figure>
		<img src="" alt="Quamax Business Company Logo" />
	</figure>

	<nav>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Services</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Contacts</a></li>
		</ul>
	</nav>
</header>
</body>
</html>