<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<div class="compos">
			<h2>Login/Registration</h2>
			<a href="http://www.templatemonster.com/demo/54591.html" target="_blank">
			<img src="../../images/compImage7.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This is a Login/Registration form for a organic cosmetics store. The target audience for this store are mainly females between the ages of 20-40. There are some men's products here as well but the target audience mainly focuses on women.
						The location is internet based and stores like these are commonly referred to as web stores.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>Having a web based store is trending and one of the most efficient ways of generating revenue due to the technological advancements that we have today. The user needs here are the organic products that are offered by this store. The client
						goals are to provide the users with a way to login or register, so that the users have an account to order the products, see what products they wish to order, or to keep track of which products they already have ordered. The users can they
						order the same products again or try out different products. </p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>When I first looked at this login/registration form, I noticed the very harsh color of the lime green for the buttons. Yeah, it stands out but it is very harsh on the eyes. They have the right colors for the buttons to give the viewer a sense
						of harmony and growth but they need to change it to a darker green maybe a green like they have on the "Forgot Password" link. The column alignment is good and has an easy flow to it from left to right and the text usage is somewhat easy to
						read but I think they need to change the grey-ish text color to a much darker color such as black or maybe a dark green. The icons are also somewhat hard to see as well. The background gives off a sense of purity and cleanliness but with the
						light text and icon colors, it is difficult to understand what messages the designer/developer is trying to convey to the viewers.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54591.html" target="_blank">View Composition</a></button>

		</div>
	
</body>
</html>