<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<div class="compos">
			<h2>Team</h2>
			<a href="http://www.templatemonster.com/demo/54648.html" target="_blank">
			<img src="../../images/compImage8.png"></a>
			<ul>
				<li>
					<h3>Target Audience</h3>
					<p>This composition is for the team of dentists who do cosmetic dentistry. The target audience would be both female and male with the age range of 30 and up, due to the financial nature of high cost cosmetic dentistry. They are looking for individuals
						who are financially stable and who have knowledge of what cosmetic dentistry cost. Location would probably be in cities that have middle to high class individuals.</p>
				</li>
				<li>
					<h3>Client/User Needs</h3>
					<p>The user needs would be services that provide dentistry with what they pay for and the client goals are to deliver such needs to the users. The user would get as much information as possible from the client or from positive feedback in order to see if
						this client is the right choice for the user to go to. The client would most likely give the user a estimated cost of how much it would be for a specific procedure(s) and the user would then have the option to go through with the procedure or seek a
						different route or another option from the client.</p>
				</li>
				<li>
					<h3>Critique</h3>
					<p>In the images, all of the team looks professional and seem to have a high degree of knowledge of what they are doing. Their smiles indicate a sense of friendship and to show that they are trustworthy. The grid system is horizontally and vertically aligned
						and proportionate and the color of the green text symbolizes growth and harmony. The letter spacing is very well adjusted and the font family used is easy to read. The black on white background symbolizes mystery with faith. Over all, this composition of
						team looks very professional and trustworthy.</p>
				</li>
			</ul>
			<button class="button"><a href="http://www.templatemonster.com/demo/54648.html" target="_blank">View Composition</a></button>
		</div>
	
</body>
</html>